@font-face {
    font-family: 'Poppins';
    src:  url(../fonts/poppins/Poppins-Light.ttf),
    url(../fonts/poppins/Poppins-ExtraLightItalic.ttf);
}

@font-face{
    font-family: 'Permanent Marker';
    src: url(../fonts/permanent-marker/PermanentMarker-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

#about{
    background-color: #252525;
    grid-template-columns: 50% 50%;
    padding: 78px 220px 98px 188px;
    display: grid;
    height: 100%;
}

.about-image{
    text-align: center;
}

.about-image img{
    width: 380px;
}

.about-text{
    margin-top: 15px;
}

.about-title-line{
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-title-line h1{
    font-family: 'Poppins';
    font-size: 24px;
}

.about-title-line img{
    width: 70px;
    height: 3px;
}

.about-jane-doe h2{
    font-family: 'Permanent Marker';
    font-size: 36px;
    color: #FFB800;
}

.about-jane-doe p{
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.about-skills p{
    font-family: 'Poppins';
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-skills em{
    font-style: normal;
    color: #FFB800;
    font-size: 38px;
}

.about-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1920px){
    #about{
        padding: 112px 280px 98px;
    }

    .about-title-line h1 {
        font-size: 30px;
    }

    .about-jane-doe h2{
        font-size: 46px;
    }

    .about-jane-doe p{
        font-size: 22px;
    }

    .about-skills p{
        font-size: 22px;
    }
}

@media  (max-width: 1440px){
    #about{
        padding: 78px 220px 98px 188px;
    }

    .about-title-line h1 {
        font-size: 24px;
    }

    .about-jane-doe h2{
        font-size: 36px;
    }

    .about-jane-doe p{
        font-size: 16px;
    }

    .about-skills p{
        font-size: 16px;
    }
}

@media (max-width: 1366px){
    .about-jane-doe p {
        font-size: 15px;
    }
    
    .about-skills p {
        font-size: 15px;
    }

    #about {
        padding: 60px 150px 70px 100px;
    }

    .work-image-add button {
        font-size: 60px!important;
    }

    .work-image-add button {
        font-size: 50px!important;
    }
}

@media (max-width:991px) {
    #about {
        padding: 40px 30px 45px 30px;
        grid-template-columns: 1fr;
    }

    .about-title-line h1 {
        font-size: 15px;
    }

    .about-jane-doe h2 {
        font-size: 26px;
    }

    .about-jane-doe p{
        font-size: 12px;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .about-skills p {
        font-size: 12px;
    }

    .about-skills {
        grid-template-columns: 1fr 1fr;
    }

    .about-skills em {
        font-size: 26px;
    }

    .about-image img {
        width: 200px;
    }
}