@font-face {
    font-family: 'Poppins';
    src:  url(../fonts/poppins/Poppins-Light.ttf),
    url(../fonts/poppins/Poppins-ExtraLightItalic.ttf);
}

@font-face{
    font-family: 'Permanent Marker';
    src: url(../fonts/permanent-marker/PermanentMarker-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

#about{
    background-color: #252525;
    padding: 78px 220px 98px 220px;
    display: grid;
    grid-template-columns: 42% 58%;
    height: 634px;
}

.about-image .backgroud-image{
    background: rgba(196, 196, 196, 0.25);
    width: 330px;
    height: 420px;
    border-radius: 20px;
    transform: rotate(-7.17deg);
    position: relative;
    top: -422px;
}

.about-image .about-img-description{
    width: 330px;
    height: 420px;
}

.about-title-line{
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-title-line h1{
    font-family: 'Poppins';
    font-size: 24px;
}

.about-title-line img{
    width: 70px;
    height: 3px;
}

.about-jane-doe h2{
    font-family: 'Permanent Marker';
    font-size: 36px;
    color: #FFB800;
}

.about-jane-doe p{
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.about-skills p{
    font-family: 'Poppins';
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-skills em{
    font-style: normal;
    color: #FFB800;
    font-size: 38px;
}

.about-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1920px){
    #about{
        height: 750px;
        padding: 112px 280px 98px;
    }

    .about-title-line h1 {
        font-size: 30px;
    }

    .about-jane-doe h2{
        font-size: 46px;
    }

    .about-jane-doe p{
        font-size: 22px;
    }

    .about-skills p{
        font-size: 22px;
    }

    .about-image .about-img-description {
        width: 410px;
        height: 520px;
    }

    .about-image .backgroud-image{
        width: 410px;
        height: 520px;
        top: -522px;
    }
}

@media  (max-width: 1440px){
    #about{
        height: 634px;
        padding: 78px 220px 98px 220px;
    }

    .about-title-line h1 {
        font-size: 24px;
    }

    .about-jane-doe h2{
        font-size: 36px;
    }

    .about-jane-doe p{
        font-size: 16px;
    }

    .about-skills p{
        font-size: 16px;
    }

    .about-image .about-img-description {
        width: 330px;
        height: 420px;
    }

    .about-image .backgroud-image{
        width: 330px;
        height: 420px;
        top: -422px;
    }
}

@media (max-width: 1366px){
    .about-jane-doe p {
        font-size: 15px;
    }
    
    .about-skills p {
        font-size: 15px;
    }

    #about {
        height: 600px;
        padding: 78px 220px 98px 220px;
    }

    .about-image .about-img-description {
        width: 310px;
        height: 400px;
    }

    .about-image .backgroud-image{
        width: 310px;
        height: 400px;
        top: -402px;
    }

    .work-image-add button {
        font-size: 60px!important;
    }

    .work-image-add button {
        font-size: 50px!important;
    }
}

@media (max-width:991px) {
    #about {
        /* grid-template-columns: 100%; */
        padding: 40px 30px 45px 30px;
    }

}